.stckerpp .text-input-wrap {
    margin-top: 4px;
    margin-bottom: 12px;
}

.stckerpp .text-input {
    padding: 5px 5px;
}

.stickerpp .icon-title {
    display: inline-flex;
    align-items: center;
}