.stickerpp-container-item {
    align-items: center;
    border-radius: 6px;
    color: var(--icon_primary);
    display: flex;
    flex-shrink: 0;
    height: 40px;
    justify-content: center;
    margin-right: 14px;
    width: 40px;
}

.stickerpp-container-item:hover {
    background-color: var(--overlay_hover);
    color: var(--brand_standard);
}

.stickerpp-container-item-active, .stickerpp-container-item-active:active, .stickerpp-container-item-active:hover {
    background-color: var(--global-brand_standard);
}

.stickerpp-container-item-active {
    --global-brand_standard: var(--brand_standard);
    color: var(--brand_standard);
}

.stickerpp-container {
    height: 100%;
    position: relative;
    width: 100%;
}

.stickerpp-container-list {
    align-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    overflow-x: hidden;
    overflow-y: overlay;
    padding: 17px 0 0 17px;
    width: 100%;
}

.stickerpp-list-item {
    -webkit-app-region: no-drag;
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 64px;
    justify-content: center;
    margin-right: 6px;
    width: 64px;
}

.stickerpp-image {
    line-height: 0;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 58px;
    height: 58px;
}

.stickerpp-image:hover {
    cursor: pointer;
    transform: scale(1.1);
    transform-origin: center center;
}

.stickerpp-image .image-content {
    object-fit: contain;
    object-position: center;
    height: 100%;
    image-rendering: -webkit-optimize-contrast;
    text-indent: 100%;
    width: 100%;
}
